data/output/*
src/test_scripts/

*.7zip
*.a
*.bak
build/
*.core
*.coverage
*.css
*.dat
*.db
*.dll
*.doc
*.docx
*.docm
*.DS_Store
*.dylib
*.egg-info/
*.env
*.exe
*.feather
*.html
htmlcov/
*.idea/
*.iml
*.js
.mypy_cache/
*.npy
*.o
*.ppt
*.pptx
*.pptm
*.pq
*.pyc
__pycache__/
.pytest_cache/
.ruff_cache/
*.snappy-*.tar.gz
*.so
*.sqlite
*.tar.gz
*.tgz
*.tmp
.venv/
.vscode/
*.whl
xcoms/
*.xlsx
*.xlsm
*.zip
