data/pdf/
data/output/
data/geocode/
**/__pycache__/
src/test_scripts/
.vscode/settings.json
*.DS_Store

# python environments
bin/
lib/
lib64/
lib64
pyvenv.cfg
share/
include/

# environment file
.env